doctype html
html(lang='en')
  head
    title signup
  body
    section.container
        .login
            h1 User Dashboard
            p user Nmae #{user.userName}
            p Mobile #{user.mobile}
            p email #{user.email}


            p
              a(href="http://localhost:8000/user/logout") logout