doctype html
html(lang='en')
  head
    title signup
  body
    section.container
        .login
            h1 Sign up to the web app
        form(method='post', action='http://localhost:8000/user/signup')
            p 
              input(type='text', name='firstName', value='', placeholder='firstName', required='')
            
            p 
              input(type='text', name='lastName' value='', placeholder='lastName', required='')

            p
              input(type='password', name='password' value='', placeholder='password', required='')
            
            p
              input(type='email', name='email' value='', placeholder='email', required='')
            
            p
              input(type='phone', name='mobile' value='', placeholder='mobile', required='')

            p.submit
              input(type='submit', name='', value='sign up' )

  